# requirements.txt
pandas
langchain-openai
langchain
langchain-core
langchain-experimental
langchain-community
presidio-anonymizer
spacy
https://github.com/explosion/spacy-models/releases/download/ja_core_news_trf-3.8.0/ja_core_news_trf-3.8.0-py3-none-any.whl
# 他にも必要なライブラリがあれば追記

flask
ja_core_news_trf
azure-search-documents
python-dotenv